<div class="finestra">
    <div class="card-pf">
        <h1 align="center" mat-dialog-title><br><br><b>Clicca sul pulsante sotto per scaricare il file</b></h1>
        <mat-dialog-content>
            <form  class="form" #bucketForm="ngForm">
                <div class="bottone">
                    <button mat-raised-button [disabled]="bucketForm.invalid" class="ale" color="primary" (click)="downloadFile()">DOWNLOAD</button>
                </div>
            </form>
        </mat-dialog-content>
    </div>
</div>



